.hand-container {
	width: 40%;
	position: fixed;
	bottom: 0;
	left: 500px;
	right: 0;
	background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
	padding: 1rem 0;
	z-index: 100;
}

.hand {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 200px;
	margin: 0 auto;
	position: relative;
	perspective: 1000px;
}

.hand-card-slot {
	margin: 0 -15px;
	/* Créer un effet d'overlapping */
	transition: transform 0.3s ease, z-index 0s;
}

.hand-card-slot.selected {
	transform: translateY(-30px) scale(1.1) !important;
	z-index: 20 !important;
}

.hand-card-slot:hover {
	transform: translateY(-20px) !important;
}

.opponent-hand .card {
	background: repeating-linear-gradient(45deg,
			#2c3e50,
			#2c3e50 10px,
			#34495e 10px,
			#34495e 20px);
}

/* Media queries pour s'adapter aux différentes tailles d'écran */
@media (max-width: 768px) {
	.hand {
		height: 180px;
	}

	.hand-card-slot {
		margin: 0 -25px;
	}
}